parameters:
    # Paths to run analysis on
    paths:
        - src
    # The level 8 is the highest level
    level: 8
    reportUnmatchedIgnoredErrors: false

includes:
    # Baseline
    - ./phpstan-baseline.neon

