<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        beStrictAboutOutputDuringTests="true"
        bootstrap="vendor/autoload.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        failOnRisky="true"
        failOnWarning="true"
        processIsolation="true"
        stopOnError="false"
        stopOnFailure="false"
        verbose="true"
>
    <php>
        <env name="APP_KEY" value="base64:130cfe485eb38ad64f3a57af4cbcff13d31af75b2491f821e2033101d62dc1cd"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="DB_FOREIGN_KEYS" value="true"/>
    </php>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
